@import '@/scss/vars.scss';

.AsideItem{
  padding-bottom: 85px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 45px;
}

.AsideItemTitle{
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: bold;
}