$accent-color: #ad2419;
$text-color: #fff;
$passive-color: #5e5e63;
$border-color: #141414;
$bg-color: #0e0e0e;
$card-color: #161616;
$dark-bg: #070707;

%clear-btn{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}